<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Cart</title>
</head>
<body>
<div th:if="${message}" th:text="${message}"></div>
<div th:if="${error}" th:text="${error}"></div>
<h1>Order Details</h1>
<h2 th:text="|Invoice for Order no. ${order.ono}|">Order ID</h2>


<h2>Shipping Address</h2>
<p th:text="${order.name}">Name</p>
<p th:utext="${order.address}">Address</p>

<h2>Books</h2>

<table th:if="${!#lists.isEmpty(order.lines)}">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Line Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="line : ${order.lines}">
        <td th:text="${line.isbn}">ISBN</td>
        <td th:text="${line.title}">Title</td>
        <td th:text="${line.qty}">0</td>
        <td th:text="'$' + ${line.unitPrice}">0.00</td>
        <td th:text="'$' + ${line.lineTotal}">0.00</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Order Total:</td>
        <td th:text="'$' + ${order.total()}">0.00</td>
    </tr>
    </tfoot>
</table>

</body>
</html>